* {
  margin: 0;
  padding: 0;
}
/* body[class="about"] {
  background: url(icons/sky.jpg) no-repeat center center fixed;
} */
body[class="portfolio"] {
  background: url(icons/light_sky.jpg) no-repeat center center fixed;
}
body/*[class="contacts"]*/ {
  background: url(icons/light_sky.jpg) no-repeat center center fixed;
}
body {
  background-size: cover;
  color: #fff;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
/* header[class="about_color"], footer[class="about_color"] {
  background: #203042;
  border-bottom: 1px solid #808080;
} */
footer {
  background: #895E43;
  border-top: 0.3px solid #DB814E;
}
header/*[class="contacts_color"],* footer[class="contacts_color"]*/ {
  background: #7A6961;
  border-bottom: 1px solid #F8B568;
}
.container_flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
}
.container {
  max-width: 1200px;
  width: 100%;

}
.indents_header {
  padding: 20px 0;
}
.indents_footer {
  padding: 10px 0;
}
.vertical_center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.horizontal_center {
  text-align: center;
}
/* .section_center {
  margin-left:
} */
.fixed {
  position: fixed;
}
.container, .container_less {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container_less {
  max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(40,44,52,0.45);
}
.top_bottom_indents {
  padding-top: 130px;
  padding-bottom: 10px;
}
.topLess_bottom_indents {
  padding-top: 30px;
  padding-bottom: 50px;
}
.logo, nav {
  max-width: 25vw;
  width: 100%;
}
.logo>h2>a {
  font-size: 30px;
}
nav {
  padding-top: 1vh;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
.title {
  max-width: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1 {
  font-size: 32px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  position: relative;
}
li:last-of-type {
  margin-left: 15px;
}
li:after {
  position: absolute;
  display: block;
  content: "";
  height: 1.4px;
  width: 0%;
  left: 50%;
  background-color: #fff;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
li:hover:after, li:focus:after {
  width: 80%;
}
li>a{
  font-size: 17px;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  outline: none;
}
p {
  line-height: 23px;
}
.logo {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rouge Script', cursive;
  font-size: 20px;
  cursor: pointer;
}
.first, .second, .third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.first, .second {
  margin-bottom: 80px;
}
/*  */









/*  */
.portrait_first, .portrait_second, .portrait_third  {
  background: url(icons/portrait.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
  max-width: 300px;
  width: 100%;
  border: 1px solid #808080;
}
.portrait_first, .portrait_third {
  margin-right: 40px;
}
.portrait_second {
  margin-left: 40px;
}
.text_about {
  max-width: 800px;
  width: 100%;
}
.text_about p {
  text-align: justify;
  font-size: 20px;
}
.line_contact_container {
  padding-top: 25px;
  padding-bottom: 50px;
}
.line_contact {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  border-bottom: 2px solid #fff;
}
footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}


/* .contacts_location:before {
  background: url(icons/map.svg);
  max-width: 50px;
  height: 50px;
} */
.contacts_box, .contact_field {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
p>img {
  max-width: 60px;
  height: 60px;
}
.contacts_box p {
  vertical-align: middle;
  font-size: 20px;
  letter-spacing: 1.2px;


}
.contacts_box img {
  vertical-align: middle;
}
.contacts_box span {
  /* font-size: 25px; */
  font-family: 'Montserrat', sans-serif;
}
.p_line {
  margin-bottom: 10px;
}
.google_map {
  height: 100%;
}
.contact_map {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact_map h2, .contact_field h2 {
  font-size: 27px;
  font-weight: normal;
  font-family: 'Merriweather', serif;
  margin-bottom: 40px;
}
